<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>HOME PAGE</h1>
    <ul>
        <% if (locals.user){%>
            <a href="/user/profile/<%=user.id%>">
            <li><%= user.name %></li>
            </a>
            <li>
                <a href="/user/signout">signout</a>
            </li>
        <%} else {%>
            <li>
                <a href="/user/sigin">sign in</a>
            </li>
            <li>
                <a href="/user/login">login</a>
            </li>

        <%}%>
    </ul>

    <section id="feed-posts">
        <%if(locals.user){%>
        <h4>Posts</h4>
        <form action="/post/create" method="POST" id="new-post-form">
            <textarea name="content" cols="30" rows="3" required></textarea>
            <input type="submit" value="Post">
        </form>
        <%}%>
    </section>
    
    <section id='post-section'>

        <ul>
            <% for (post of posts){%>
            
                <%- include('_post.ejs') -%>
            
            <%}%>
        </ul>

    </section>

    <section id="user-friends">
        <h4>Friends </h4>
        <% for(u of all_users){%>
            <p>
                <a href="/user/profile/<%= u.id %>"><%= u.name %></a>
            </p>
        <%}%>
    </section>
</body>
</html>