<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/6d65aca24c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="<%=assetPath('css/home.css')%>" >
    <link rel="stylesheet" href="<%=assetPath('css/chat_box.css')%>">
    <title>CODIEAL</title>
</head>
<body>
    <!--h1>HOME PAGE</h1-->
    <section id="nav-bar">
        <h1>CODIEAL
        </h1>
        <ul>
        <% if (locals.user){%>
            <a href="/user/profile/<%=user.id%>">
            <li><p style="color: white;"><%= user.name %><p></li>
            </a>
            <li>
                <a href="/user/signout">signout</a>
                
            </li>
        <%} else {%>
            <li>
                <a href="/user/sigin">sign in</a>
            </li>
            <li>
                <a href="/user/login">login</a>
            </li>

        <%}%>
    </ul>
    </section>
    <div id="home-container">
        
        <section id="user-blogs">
            <div id="blog_section">
            <h2>Blog Shot</h2>
            <div id="blog-podcast">
                <p><h3>BLOG!</h3></p>
            </div>

            <div id="blog-podcast">
                <p> <h3> BLOG!</h3></p>
            </div>

            <div id="blog-podcast">
                <p> <h3>BLOG! </h3></p>
            </div>
        </section>

        <section id="feed-posts">
            <h2>Daily Posts</h2>
            <%if(locals.user){%>
            <h4>Drop Post</h4>
            <form action="/post/create" method="POST" id="new-post-form" >
                <textarea name="content" cols="30" rows="4" required></textarea>
                <input type="submit" value="Post">
            </form>
            <%}%>
    

            <div id="posts-lists-container">
            <ul type="none">
                <% for (post of posts){%>
            
                <%- include('_post.ejs') -%>
            
                <%}%>
            </ul>
            </div>
        </section>

        <section id="user-friends">
            <!--div id="blog_section"-->
            <h2>Friends </h2>
            <% for(u of all_users){%>
                <p>
                    <a href="/user/profile/<%= u.id %>"><%= u.name %></a>
                </p>
            <%}%>
            <!--/div-->
        </section>
        <section id="chat box">
        <%- include('_chat_box.ejs') -%>
        </section>
    </div>
    <footer>
        <div>
            <p><b>CREATED AND DEVELOPED BY PANKAJ GUSAIN</b></p>
        </div>
    </footer>
    
    <script>
        <% if (flash.success && flash.success.length>0) { %>
            new Noty({
                theme :'sunset',
                text : "<%= flash.success %>",
                type :'success',
                layout :'topRight',
                timeout :1500
            }).show();
        <%}%>

        <% if (flash.error && flash.error.length>0) { %>
            new Noty({
                theme :'sunset',
                text : "<%= flash.error %>",
                type :'error',
                layout :'topRight',
                timeout :1500
            }).show();
        <%}%>

       
    </script>

<script src="<%=assetPath('js/home_posts.js') %>"></script>
<script src="<%=assetPath('js/home_post_comment.js') %>"></script>

<!-- CHANGE :: import the script file for toggle likes, also run it over for the already present posts and comments on the page -->
<script src="<%=assetPath('js/toggle_likes.js') %>"></script>
<script>
    $('.toggle-like-button').each(function(){
        let self = this;
        let toggleLike = new ToggleLike(self);
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<script src="<%=assetPath('js/chat_engine.js') %>"></script>
<% if (locals.user) { %>
    <script>
    new ChatEngine('user-chat-box','<%= locals.user.email %>');
    </script>
<%}%>
</body>
</html>