<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
    <link rel="stylesheet" href="/css/home.css">
    <title>Document</title>
</head>
<body>
    <!--h1>HOME PAGE</h1-->
    <section id="nav-bar">
        <h1>CODIEAL
        </h1>
        <ul>
        <% if (locals.user){%>
            <a href="/user/profile/<%=user.id%>">
            <li><p><%= user.name %><p></li>
            </a>
            <li>
                <a href="/user/signout">signout</a>
            </li>
        <%} else {%>
            <li>
                <a href="/user/sigin">sign in</a>
            </li>
            <li>
                <a href="/user/login">login</a>
            </li>

        <%}%>
    </ul>
    </section>
    <div id="home-container">
        <section id="feed-posts">
            <h2>Daily Posts</h2>
            <%if(locals.user){%>
            <h4>Drop Post</h4>
            <form action="/post/create" method="POST" id="new-post-form">
                <textarea name="content" cols="30" rows="3" required></textarea>
                <input type="submit" value="Post">
            </form>
            <%}%>
    

            
            <ul>
                <% for (post of posts){%>
            
                <%- include('_post.ejs') -%>
            
                <%}%>
            </ul>

        </section>

        <section id="user-friends">
            <h2>Friends </h2>
            <% for(u of all_users){%>
                <p>
                    <a href="/user/profile/<%= u.id %>"><%= u.name %></a>
                </p>
            <%}%>
        </section>
    <script>
        <% if (flash.success && flash.success.length>0) { %>
            new Noty({
                theme :'sunset',
                text : "<%= flash.success %>",
                type :'success',
                layout :'topRight',
                timeout :1500
            }).show();
        <%}%>

        <% if (flash.error && flash.error.length>0) { %>
            new Noty({
                theme :'sunset',
                text : "<%= flash.error %>",
                type :'success',
                layout :'topRight',
                timeout :1500
            }).show();
        <%}%>
    </script>
</body>
</html>